*{
	text-align: center;
	margin: 0 auto;
}

/*ingrese-celular*/
#ingrese-celular{
	@include contenedor-basico ();
  /*ingrese-celular checkbox*/
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .checkbox {
    padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
  .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
  .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
  .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
  .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
  .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #00c3a3;
    border-color: #428bca; }
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }
  #ingrese-celular-btn{
    margin-top: 30%;
  }
  #ingrese-celular-btn:hover{
    background-color: $turquesa;
  }
  #ingrese-celular-num{
    background-image: url("../img/icons/phoneandnumber.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/*Pantalla 5*/
.m_fondo{
  background-color: #fbd43b;
  height: 100vh;
  .m_img{
  width: 50%;
  padding-top: 150px;
  display: block;
  margin: 0 auto;
  }
  .m_pes{
    color: #38052a;
    font-size: 20px;
    padding-top: 30px;
    font-weight: bold;
    .m_p{
    margin-bottom: -1px;
    }
  }
}

/*Fin pantalla 5*/

/* Pantalla 6*/
.m_a{
  color: #000;
  margin-left: -350px;
}
.m_imgcodigo{
  padding-top: 100px;
  width: 30%;
}
.m_cajaenviar{
  margin: 15px 50px;
}
.m_gray{
  color: #9d9d9d;
}
.m_cajainput{
  border-bottom: 1px solid #9d9d9d;
  width: 80%;
  margin-bottom: 10px;
  input{
    border: none;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
}
.m_iconlock{
  width: 5%;
}
/*fin*/


/*Pantalla 7*/
.sietefondo{
  background-color: $morado-light;
  padding-bottom: 10px;
  h4{
    color: white;
    margin-bottom: -1px;
    font-weight: bold;
  }
  .m_mostrar{
    color: $turquesa;
  }
  .m_imgpeke{
    width: 5%;
  }
  .m_imgcara{
    padding-top: 50px;
    width: 30%;
  }
  .m_engine{
    width: 6%;
    margin-left: 320px;
    padding-top: 15px;
  }
}
.sietefondodos{
  background-color: $morado-dark;
  padding-top: 10px;
  .m_underline{
    border-bottom: 1px solid #696969;
    padding-bottom: 6px;
  }
  .m_imgpeke{
    width: 7%;
    margin-left: 100px;
  }
  .m_heigh{
    height: 60vh;
    padding-top: 20px;
  }
}
.m_bottom{
  padding-top: 180px;
  .m_icon{
  width: 50%;
  
}
}
.m_white{
  color: white;
}
.m_top{
  padding-top: 40px;
}




/*fin*/