#body-index1 {
    margin: 0 auto;
    padding: 50px;
}

.carousel {
    height: 300px;
}

.carousel-indicators .active {
    background-color: red;
}

.carousel-indicators {
    top: 350px;
}

.btn-registro {
    margin-top: 100px;
}